<div class="col-lg-4">
  <div class="card card-small mb-4 pt-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item px-4">
          <strong class="text-muted d-block mb-2">Name</strong>
          <span>{{pers.name}}</span>
      </li>
      <li class="list-group-item px-4">
          <strong class="text-muted d-block mb-2">Firstname</strong>
          <span style="text-transform: capitalize;">{{pers.firstname}}</span>
      </li>
      <li class="list-group-item px-4">
          <strong class="text-muted d-block mb-2">Age</strong>
          <span style="text-transform: capitalize;">{{pers.age}}</span>
      </li>
      <li class="list-group-item p-4">
        <strong class="text-muted d-block mb-2">Carte D'identité</strong>
        <span>{{pers.cin}}</span>
      </li>
      <li class="list-group-item p-4">
        <strong class="text-muted d-block mb-2">Job</strong>
        <span>{{pers.job}}</span>
      </li>
    </ul>
  </div>
</div>